/*   google fonts link   */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Lato, sans-serif;
    background-color:rgb(66, 58, 58);
    font-weight: 300;
}

#main-header{
width: 100%;
}

/*  navigation bar */
#navbar{
    display: flex;
    width: 100%;
    line-height: 80px;
    text-transform: uppercase;
    background-color: #e4d8d8;
    font-family:Oswald,sans-serif ;
    letter-spacing: 4px;
}
#link-bar{
    display: flex;
    justify-content:space-evenly;
    width: 50%;
   padding-right: 30px;
   font-size: 20px;
}
#link-bar li,#link-bar li a{
    margin-right: 15px;
    list-style: none;
    text-decoration: none;
    color:#224249;
   
}
#link-bar a:hover{
    border-bottom: 2px solid #353434;
}
.active{
   border-bottom:2px solid #353434 ;
}


/* website logo and logo link*/

#logo,#logo a{
    color:#224249;
    width: 50%;
  padding-left: 15px;
    font-size: 50px;
    text-decoration: none;
}
