/*   google fonts link   */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Lato, sans-serif;
    background-color:rgb(66, 58, 58);
    font-weight: 300;
}

#main-header{
width: 100%;
}

/*  navigation bar */
#navbar{
    display: flex;
    width: 100%;
    line-height: 80px;
    text-transform: uppercase;
    background-color: #e4d8d8;
    font-family:Oswald,sans-serif ;
    letter-spacing: 4px;
}
#link-bar{
    display: flex;
    justify-content:space-evenly;
    width: 50%;
   padding-right: 30px;
   font-size: 20px;
}
#link-bar li,#link-bar li a{
    margin-right: 15px;
    list-style: none;
    text-decoration: none;
    color:#224249;
   
}
#link-bar a:hover{
    border-bottom: 2px solid #353434;
}
.active{
   border-bottom:2px solid #353434 ;
}


/* website logo and logo link*/

#logo,#logo a{
    color:#224249;
    width: 50%;
  padding-left: 15px;
    font-size: 50px;
    text-decoration: none;
}


/*  Hero Image for home page */
#hero-image{
    width: 100%;
    overflow: hidden;
    position: relative; 
}
#image{
    background: url("../images/hero-photo.jpg") no-repeat center center;  
    
    width: 100%;
    height: 600px; 
}


/*Cover Text*/

#cover-text{
    border-radius: 10px;
    position: absolute;
    font-size: 130%;
    font-family:Oswald,sans-serif ;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 300px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(53, 214, 219, 0.753);
    bottom: 10em;
    left:50px ;
}
#cover-text >h1 {
    padding-bottom: 20px;
      font-size: 170%;
       text-transform: uppercase;
       letter-spacing: 3px;
       font-family: Oswald, sans-serif;
       color: #fff;
}
#cover-text >p {
    font-size: 25px;
    color: #c81717;
    font-family: Oswald, sans-serif;
}
strong{
font-size: 40px;
}
